<div class="example-container">
<form class="example-container" #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Nome</mat-label>
    <input matInput placeholder="Digite" name="nome" [(ngModel)]="cliente.nome" >
  </mat-form-field>
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Telefone</mat-label>
    <input matInput placeholder="Digite" name="telefone" [(ngModel)]="cliente.idTelefone.id" >
  </mat-form-field>
  <mat-form-field >
      <mat-select name="tatuagem" [(ngModel)]="cliente.idTatuagem.id" >
          <mat-option>-- Selecione --</mat-option>
          <mat-option  *ngFor="let tattoo of tattoos" [value]="tattoo.value">{{tattoo.viewValue}}</mat-option>
        </mat-select>
    <mat-label><b>Tattoo:</b></mat-label>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" name="data" [(ngModel)]="agendaMarcada.data" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-select name="horario" [(ngModel)]="agendaMarcada.hora.id" >
      <mat-option>-- Selecione --</mat-option>
      <mat-option  *ngFor="let hora of horas" [value]="hora.value">{{hora.viewValue}}</mat-option>
    </mat-select>
    <mat-label><b> Horario:</b></mat-label>
  </mat-form-field>
  <div class="example-button-row">
    <button mat-raised-button color="primary" type="submit">Salvar</button>
  </div>
</form>
</div>
